<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manchester United Player</title>
    <!-- 내부 css -->
    <style>
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }
        td, th {
            border: 1px solid #656161;
            text-align: center;
            padding: 8px;
        }

    </style>
</head>

<body>
<h1><b>Manchester United Player</b></h1>
<hr>

<div class="container">
    <!-- 테이블 선언 -->
    <table>
        <thead>
        <th>이름</th>
        <th>포지션</th>
        <th>등번호</th>
        </thead>

<body>
<div class="container">
    <tr th:each="get : ${get}">
        <<td>[[${get.name}]]</td>
        <td>[[${get.position}]]</td>
        <td>[[${get.backNumber}]]</td>

    <!--
    <p> 선수명 : [[${get.name}]]</p>
    <p> 포지션 : [[${get.position}]]</p>
    <p> 등번호 : [[${get.backNumber}]]</p>
    -->

    </tr>
    </table>

    <hr>
    <button type="button" onclick="location.href='http://localhost:9090/mu/players'"> 1군 선수 목록 </button>
    <button><a th:href="@{/mu/delete(backNumber=${get.backNumber})}"> 삭제 </a></button>
    <button><a th:href="@{/mu/modify(backNumber=${get.backNumber})}"> 수정 </a></button>

</div>
</body>
</html>