<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Manchester United Player</title>
</head>
<body>
<!-- playerlist에 컨테이너로 등록해둔 클래스 사용 -->
<div class="container">
    <p> 선수명 : [[${get.name}]]</p>
    <p> 포지션 : [[${get.position}]]</p>
    <p> 등번호 : [[${get.backNumber}]]</p>
    <p> 등록일 : [[${get.regDate}]]</p>
    <p> 수정일 : [[${get.updateDate}]]</p>

    <hr>
    <button type="button" onclick="location.href='http://localhost:9090/mu/players';"> 1군 선수 목록 </button>
</div>
</body>
</html>